<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/xsware_logo_full_white.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item p-0">
          <a class="nav-link" routerLink="/home" placement="bottom" tooltip="Kontakt"> Home </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" routerLink="/about" placement="bottom" tooltip="Kontakt">
            O Firmie
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" routerLink="/contact" placement="bottom" tooltip="Kontakt">
            Kontakt
          </a>
        </li>
        @if (isLoggedIn) {
          <li class="nav-item p-0">
            <a class="nav-link" routerLink="/contact" placement="bottom" tooltip="Kontakt">
              Kontakt
            </a>
          </li>
          <a class="dropdown-item" routerLink="/profile">
            <i class="tim-icons icon-badge"> </i> Profil
          </a>
          <a class="dropdown-item" routerLink="javascript:void(0)" (click)="logoutClick()">
            <i class="fa fa-sign-out-alt"></i> Wyloguj
          </a>
        } @else {
          <li class="nav-item p-0">
            <a class="nav-link" routerLink="/login" placement="bottom" tooltip="login">
              <i class="tim-icons icon-badge"> </i> Logowanie
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
