<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container">
    @if (!isLoggedIn && getPath()!=='/portfolio') {
      <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Dziękujemy za zaufanie.</h3>
          <h4 class="mb-0 font-weight-light">Skontaktuj się z nami i zobacz, jak możemy Ci pomóc.</h4>
        </div>
        <div class="col-lg-6 text-lg-center btn-wrapper">
          <a target="_blank" href="https://twitter.com/" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
            <i class="fa fa-twitter"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a target="_blank" href="www.linkedin.com/in/krzysztof-skarbowski-a1013439b" class="btn btn-neutral btn-icon-only btn-linkedin btn-lg btn-round" ngbTooltip="Follow us">
            <i class="fa fa-linkedin"></i>
          </a>
          <a target="_blank" href="https://github.com/krzysq23" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
    } @else {
      <div class="row row-grid align-items-center my-sm"></div>
    }
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          <a href="https://xsware.pl/home" target="_blank">XsWare Solution</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://xsware.pl/home" class="nav-link" target="_blank">Home</a>
          </li>
          <li class="nav-item">
            <a href="https://xsware.pl/about" class="nav-link" target="_blank">O firmie</a>
          </li>
          <li class="nav-item">
            <a href="https://xsware.pl/home" class="nav-link" target="_blank">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
